body.autentication div.autentication {
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

/* _______________________________________________________AUTENTICATION */


body.autentication main div.autentication form.autentic div.inputs div.show {
    text-align: right;
}

/* _INPUTS */
body.autentication main div.autentication form.autentic div.inputs {
    display: flex;
    flex-direction: column;
    height: 127px;
    justify-content: space-between;
}

body.autentication main div.autentication form.autentic div.inputs input {
    padding: 12px 9px;
    border-radius: 5px;
    border: none;
}



/* _ENVIAR */
body.autentication main div.autentication form.autentic button {
    margin: auto;
    text-transform: uppercase;
    background-color: #1259c3;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    display: block;
    border-radius: 5px;
    margin-top: 37px;
    font-weight: bold;
}

body.autentication main div.autentication form.autentic button:hover {
    opacity: 0.6;
    color: lightcyan;

}






@media(min-width: 670px) {

    body.autentication div.autentication {
        width: 50%;
    }



}





@media(min-width: 1070px) {

    body.autentication div.autentication {
        width: 40%;
    }



}




@media(min-width: 1470px) {

    body.autentication div.autentication {
        width: 30%;
    }



}