    /* ________________________________________________________________________________MOBILE */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */

    /* _WIREFRAME */
    body.autentication header {
        background-image: url(no../../../ml-flexbox/mockup/mocks-flexbox/mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    /* ________________________________________________________________________________MOBILE */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */
    /* ___________________________________________GROUPED */

    /* _COLOR HEADER GROUPED */
    body.autentication header .container .grouped {
        background-color: #EAC926;
    }

    /* ________________________________________________________________________________MOBILE */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */
    /* ___________________________________________GROUPED */
    /* _______________________________GROUP1 */

    /* GROUP1 ADJUST */
    body.autentication header .container .grouped .group1 {
        width: 90%;
        margin: auto;
    }

    /* ________________________________________________________________________________MOBILE */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */
    /* ___________________________________________GROUPED */
    /* _______________________________GROUP1 */
    /*____________________BLOCK1 */

    /* _BLOCK1 ORDER */
    body.autentication header .container .grouped .group1 .block1 {
        display: flex;
        flex-wrap: wrap;
    }

    /* ________________________________________________________________________________MOBILE */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */
    /* ___________________________________________GROUPED */
    /* _______________________________GROUP1 */
    /*____________________BLOCK1 */
    /*___________BOX1 */

    /* _BOX1 ORDER*/
    body.autentication header .container .grouped .group1 .block1 .box1 {
        width: 50%;
    }

    /* _LOGO MERCADOLIEBRE */
    body.autentication .home-logo-div {
        padding: 15% 5% 0 3%;
    }

    /* ________________________________________________________________________________MOBILE */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */
    /* ___________________________________________GROUPED */
    /* _______________________________GROUP1 */
    /*____________________BLOCK1 */
    /*___________BOX2 */

    /* _BOX2 ORDER*/
    body.autentication header .container .grouped .group1 .block1 .box2 {
        width: 50%;
        padding-top: 9%;
    }

    /* _BUSCAR INPUT SEARCH */
    body.autentication .home-buscar-div input.search {
        height: 38px;
        border-radius: 5px;
        border: 0;
        padding-left: 5px;
        width: 100%;
    }

    /* _BUSCAR INPUT SUBMIT */
    body.autentication .home-buscar-div input.submit {
        display: none;
    }

    /* ________________________________________________________________________________MOBILE */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */
    /* ___________________________________________GROUPED */
    /* _______________________________GROUP1 */
    /*____________________BLOCK1 */
    /*___________BOX3 */

    /* _COMPRA EN CUOTAS */
    body.autentication header .container .grouped .group1 .block1 .box3 {
        margin: auto;
        margin-top: 7%;
        text-align: center;
    }

    /* _COMPRA EN CUOTAS IMG */
    body.autentication .home-compraencuotas-p {
        text-align: center;
    }

    /* _COMPRA EN CUOTAS IMG */
    body.autentication .home-compraencuotas-p img {
        width: 15px;
    }

    /* ________________________________________________________________________________MOBILE */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */
    /* ___________________________________________GROUPED */
    /* _______________________________GROUP1 */
    /*____________________BLOCK2 */
    /*___________BOX1 */

    /* _MENU BURGGER */
    body.autentication .home-menuburgger-div {
        width: 45px;
        margin: 31px auto 22px;
    }

    /* _MENU BURGGER HOVER */
    body.autentication .home-menuburgger-div:hover {
        opacity: 0.7;
    }

    /* __MENU BURGGER IMG */
    body.autentication .home-menuburgger-div img {
        width: 45px;
        padding: 10px 12px 10px;
        background-color: #1259c3;
        border-radius: 5px;
        margin: auto;
        display: block;
    }

    /* _MENU HEADER HIDE */
    body.autentication header nav {
        display: none;
    }

    /* _MENU CREACOMPRAS ICONS */
    body.autentication header nav ul li a img.icon-account,
    body.autentication header nav ul li a img.icon-sign-in,
    body.autentication header nav ul li a img.icon-my-purchase {
        width: 15px;
    }



















    /* ________________________________________________________________________________TABLET */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */

    @media (min-width:670px) {

        /* _WIREFRAME */
        body.autentication header {
            background-image: url(../../../ml-flexbox/mockup/mocks-flexbox/tablet.png);
            background-repeat: no-repeat;
            background-size: contain;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */
        /*____________________BLOCK1 */
        /* __________BOX1 */
        /* __________BOX2 */
        /* __________BOX3 */

        /* _BLOCK1 ORDER */
        body.autentication header .container .grouped .group1 .block1 .box1,
        body.autentication header .container .grouped .group1 .block1 .box2,
        body.autentication header .container .grouped .group1 .block1 .box3 {
            width: 33.3%;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */

        /* _GROUP1 ORDER */
        body.autentication header .container .grouped .group1 {
            width: 93%;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */
        /*____________________BLOCK1 */
        /*___________BOX1 */

        /* _BOX1 CLEAN  */
        body.autentication header .container .grouped .group1 .block1 .box1 {
            padding: 0;
        }

        /* _LOGO MERCADOLIEBRE */
        body.autentication .home-logo-div {
            padding: 11% 0 0 0;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */
        /*____________________BLOCK1 */
        /*___________BOX2 */

        /* _BOX2 ADJUST  */
        body.autentication header .container .grouped .group1 .block1 .box2 {
            padding: 7% 0 0 2%;
        }

        /* _BUSCAR INPUT */
        body.autentication .home-buscar-div input.search {
            height: 27px;
            width: 87%;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */
        /*____________________BLOCK1 */
        /*___________BOX3 */

        /* _COMPRA EN CUOTAS */
        body.autentication header .container .grouped .group1 .block1 .box3 {
            margin-top: 8%;
        }

        /* _COMPRA EN CUOTAS IMG */
        body.autentication .home-compraencuotas-p {
            text-align: initial;
            margin-left: -3%;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */
        /*____________________BLOCK2 */
        /*___________BOX1 */

        /* _MENU BURGGER HIDE*/
        body.autentication .home-menuburgger-div {
            display: none;
        }

        /* _MENU SHOW ORDER*/
        body.autentication header .container .grouped .group1 .block2 .box2 {
            display: flex;
            justify-content: space-between;
            margin-top: 5.7%;
        }

        /* _MENU NAV */
        body.autentication .home-ofertasayuda-nav,
        body.autentication .home-creacompras-nav {
            display: block;
            width: 50%;
        }

        /* _MENU UL */
        body.autentication .home-ofertasayuda-nav ul,
        body.autentication .home-creacompras-nav ul {
            display: flex;
            align-items: baseline;
        }

        body.autentication .home-creacompras-nav ul {
            justify-content: flex-end;
        }

        body.autentication .home-ofertasayuda-nav ul li {
            margin-right: 4%;
        }

        body.autentication .home-creacompras-nav ul li {
            margin-left: 4%;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */
        /*____________________BLOCK2 */

        /* _MARGEN GROUP1 VS GROUP2 */
        body.autentication header .container .grouped .group1 .block2 {
            padding-bottom: 3%;
            margin-bottom: 3%;
        }




    }

















    /* ________________________________________________________________________________TABLET */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */
    /* ___________________________________________GROUPED */
    /* _______________________________GROUP1 */
    /*____________________BLOCK2 */
    /*___________BOX1 */




    /* ________________________________________________________________________________DESKTOP */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */



    /* ________________________________________________________________________________TABLET */
    /* ______________________________________________________________________BODY */
    /* _________________________________________________________HEADER */

    @media (min-width:1440px) {

        body.autentication header {
            background-image: url(../../../ml-flexbox/mockup/mocks-flexbox/desktop.png);
            background-repeat: no-repeat;
            background-size: contain;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */

        /* _GRUPO1 ADJUST */
        body.autentication header .container .grouped .group1 {
            width: 94%;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */
        /*____________________BLOCK1 */
        /*___________BOX1 */

        /* _LOGO MERCADOLIEBRE */
        body.autentication .home-logo-div {
            padding: 4% 0% 0% 0%;
        }

        body.autentication .home-logo-div img {
            width: 107%;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */
        /*____________________BLOCK1 */
        /*___________BOX2 */

        /* _BOX2 ADJUST */
        body.autentication header .container .grouped .group1 .block1 .box2 {
            padding: 5.2% 0 0 2%;
        }

        body.autentication .home-buscar-div input.search {
            height: 27px;
            width: 58.7%;
            margin-left: 5%;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */
        /*____________________BLOCK1 */
        /*___________BOX3 */

        /* _ MENU COMPRA EN CUOTAS */
        body.autentication .home-compraencuotas-p {
            margin-left: 0;
        }

        /* _BOX3 ADJUST */
        body.autentication header .container .grouped .group1 .block1 .box3 {
            margin-top: 5.7%;
        }

        /* ________________________________________________________________________________TABLET */
        /* ______________________________________________________________________BODY */
        /* _________________________________________________________HEADER */
        /* ___________________________________________GROUPED */
        /* _______________________________GROUP1 */
        /*____________________BLOCK2 */
        /*___________BOX2 */

        /* _BOX2 ADJUST */
        body.autentication header .container .grouped .group1 .block2 .box2 {
            margin-top: 3%;
        }



    }