<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/621cfbb24e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="register">

    <!-- _HEADER -->
    <header>
        <div class="container">
            <div class="grouped">
                <div class="group1">
                    <div class="block1">

                        <div class="box1">
                            <!-- _LOGO -->
                            <div class="home-logo-div">
                                <a href="home.html">
                                    <img src="/images/icons/logo-mercado-liebre.svg" alt="mercado liebre">
                                </a>
                            </div>
                        </div>

                        <div class="box2">
                            <!-- _SEARCH BAR -->
                            <div class="home-buscar-div">
                                <form action="/form-result.php" method="post" target="_blank">
                                    <input class="search" type="search" name="productsearch"
                                        placeholder=" Buscar productos, marcas">
                                    <input class="submit" type="submit" value="Buscar">
                                </form>
                            </div>
                        </div>

                        <div class="box3">
                            <!-- _TITLE MAIN -->
                            <p class="home-compraencuotas-p">
                                <img src="/images/icons/hand-holding-usd-solid.svg" alt="Compre en cuotas">
                                Comprá en cuotas y sin tarjeta de crédito
                            </p>
                        </div>

                    </div>
                    <div class="block2">

                        <div class="box1">
                            <!-- _MENU BURGER CONTAINER-->
                            <div class="home-menuburgger-div">
                                <a href="">
                                    <img src="/images/icons/bars-solid.svg" alt="Menú">
                                </a>
                            </div>
                        </div>

                        <div class="box2">

                            <nav class="home-ofertasayuda-nav">
                                <ul>
                                    <li><a href="#">Ofertas</a></li>
                                    <li><a href="#">Tiendas Oficiales</a></li>
                                    <li><a href="#">Vender</a></li>
                                    <li><a href="#">Ayuda</a></li>
                                </ul>
                            </nav>

                            <nav class="home-creacompras-nav">
                                <ul>
                                    <li>
                                        <a href="">Creá tu cuenta
                                            <img class="icon-account" src="/images/icons/id-card-regular.svg"
                                                alt="Crea tu cuenta">
                                        </a>
                                    </li>
                                    <li><a href="autentication.html">Ingresá
                                            <img class="icon-sign-in" src="/images/icons/sign-in-alt-solid.svg"
                                                alt="Ingresa a tu cuenta">
                                        </a>
                                    </li>
                                    <li><a href="">Mis Compras
                                            <img class="icon-my-purchase"
                                                src="/images/icons/shopping-basket-solid.svg"
                                                alt="Mis compras">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- _MAIN -->
    <main>

        <!-- _REGISTER -->
        <div class="__register">

            <!-- _FORM-REGISTER -->
            <form class="__register" action="/action_page.php" method="post">

                <!-- _NAME -->
                <div class="__name">
                    <input type="text" placeholder="Nombre y apellido" name="uname" required="">
                </div>

                <!-- _SURNAME -->
                <div class="__surname">
                    <input type="text" placeholder="Nombre de usuario" name="uname" required="">
                </div>

                <!-- _EMAIL -->
                <div class="__email">
                    <input type="text" placeholder="E-mail" name="uname" required="">
                </div>

                <div class="__error">
                    <label for="error">Ingresa un E-mail válido</label>
                </div>

                <!-- _BORN -->
                <h3 class="reg-title-born">
                    Fecha de nacimiento
                </h3>

                <div class="reg-fill-born">
                    <input type="date" placeholder="yyyy/mm/dd" name="uname" required="">
                </div>

                <!-- _ADDRESS -->
                <div class="__address">
                    <input type="text" placeholder="Domicilio" name="uname" required="">
                </div>

                <!-- _USER PROFILE -->
                <h3 class="reg-title-genere">
                    Perfil de usuario
                </h3>

                <!-- _CHOOSE USER PROFILE -->
                <div class="reg-inputs-genere">

                    <div class="reg-inputs-radio">
                        <input type="radio" name="profile" value="" id="buyer" checked>
                        <label for="buyer">Comprador</label>
                    </div>

                    <div class="reg-inputs-radio">
                        <input type="radio" name="profile" value="seller" id="seller">
                        <label for="seller">Vendedor</label>
                    </div>

                </div>

                <!-- _INTERESTS  TITLE-->
                <h3 class="reg-title-news">
                    Intereses </h3>

                <!-- _INTERESTS -->
                <div class="reg-inputs-news-terms">

                    <p>
                        <input type="checkbox" name="electro" value="electro" id="electro">
                        <label for="electro">
                            Electro
                        </label>
                    </p>
                    <p>
                        <input type="checkbox" name="fashion" value="fashion" id="fashion">
                        <label for="fashion">
                            Moda
                        </label>
                    </p>
                    <p>
                        <input type="checkbox" name="home" value="home" id="home">
                        <label for="home">
                            Hogar
                        </label>
                    </p>
                    <p>
                        <input type="checkbox" name="toys" value="toys" id="toys">
                        <label for="toys">
                            Juguetería
                        </label>
                    </p>
                    <p>
                        <input type="checkbox" name="healthy" value="healthy" id="healthy">
                        <label for="healthy">
                            Vida sana
                        </label>
                    </p>
                </div>

                <!-- _IMG PROFILE -->
                <div class="register-seleccionaimg-div">

                    <label for="img-profile">
                        <h3>
                            Selecciona una imágen para tu perfil
                        </h3>
                    </label>
                    <input type="file" name="img-profile" value="img-profile" class="img-profile" accept=".jpg">

                </div>

                <!-- _PASSWORD -->
                <div class="__psw">
                    <label for="__psw" class="register-eligepsw-label">
                        <h3>
                            Elige tu contraseña
                        </h3>
                    </label>
                    <input type="password" placeholder="Contraseña" name="psw" required="">
                    <input type="password" placeholder="Confirmar" name="psw" required="">
                    <label for="__psw" class="__psw-required">
                        Incluye 8 caracteres, mayúsculas y minúsculas, y un número
                    </label>
                </div>

                <div class="register-enviarborrar-div">
                    <!-- _RESET -->
                    <button type="reset" class="register-borrar-reset">Borrar todo</button>

                    <!-- _SEND -->
                    <button type="submit" class="register-enviar-submit">Enviar</button>
                </div>

            </form>

        </div>






    </main>

    <!-- _FOOTER -->
    <footer>
        <!-- _SECURE PURCHASE -->
        <section class="secure-purchase">
            <article class="purchase">
                <img class="icon-credit" src="/images/icons/credit-card-solid.svg"
                    alt="Pagá con tarjeta o efectivo.">
                <h4 class="purchase">Pagá con tarjeta o en efectivo</h4>
                <p class="purchase"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article class="purchase">
                <img class="icon-gift" src="/images/icons/gift-solid.svg" alt="Envío gratis desde $ 2500.">
                <h4 class="purchase">Envío gratis desde $ 2.500</h4>
                <p class="purchase"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article class="purchase">
                <img class="icon-solid" src="/images/icons/user-shield-solid.svg"
                    alt="Seguridad de principio a fin. Comprá tranqui.">
                <h4 class="purchase">Seguridad, de principio a fin</h4>
                <p class="purchase"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </article>
        </section>
        <p class="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>