/* CAJAS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TEXTO */
body,
a {
    text-decoration: none;
}

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

}

/* COLORES */
body {
    background-color: #ebebeb;
}

/* LISTAS */
ul,
li {
    list-style: none;
}


@media(min-width:361px) {
    * {
        font-size: 14px;
    }

}

@media(min-width:769px) {
    * {
        font-size: 16px;
    }

}