/* CAJAS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TEXTO */
body,
a {
    text-decoration: none;
}

/* LISTAS */
ul,
li {
    list-style: none;
}

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}