/* HEADER */
body.home header {
    background-color: #EAC926;
}

body.home div.logo {
    width: 50%;
    padding: 30px 3% 14px 7%;
}

body.home div.search {
    padding-left: 4.9%;
}

body.home header div form p input.input-search {
    width: 57%;
    height: 23px;
}

body.home img.hand-holding-dollar {
    width: 14px;
}

body.home p.buy-now {
    text-align: center;
    margin: 33px auto 22px;
}

body.home ul.nav-buy-sell {
    margin-bottom: 20px;
}

body.home img.account,
body.home img.sign-in,
body.home img.my-purchase {
    width: 15px;
}

body.home div.burger-menu-container {
    width: 47px;
    margin: 30px auto 0px;
    padding-bottom: 30px;
}

body.home div.burger-menu-container:hover {
    opacity: 0.7;
}

body.home img.burger-menu {
    width: 47px;
    padding: 10px 12px 10px;
    background-color: #1259c3;
    border-radius: 5px;

}

/* FOOTER*/

/* footer-icons #2359A8 */

body.home footer article.footer-articles {
    padding: 55px 0 0;
}

body.home footer section.secure-purchase {
    text-align: center;
    margin: 0 35px 0;
}

body.home footer article img.icon-pay,
body.home footer article img.icon-free-shipping,
body.home footer article img.icon-safe-shopping {
    width: 37px;
}

body.home footer h4.footer-h4 {
    color: #667;
    font-size: 16px;
    margin: 10px 0 5px;
}

body.home footer p.footer-p {
    color: #667;
}

/* COPYRIGHT */
body.home footer p.footer-copyright {
    margin: 44px 0 20px 15px;
    color: #667;
}