/* _HEADER */
body.home header {
    background-color: #EAC926;
}

/* _LOGO */
body.home header div.logo {
    width: 50%;
    padding: 28px 3% 16px 8%;
}

/* _SEARCH BAR */
body.home header div.search {
    padding-left: 4.9%;
}

body.home header div form p input.input-search {
    width: 17rem;
    height: 22px;
}

/* _TITLE MAIN */
body.home header p.title-main {
    text-align: center;
    margin: 11px 8% 22px;
}

body.home header p.title-main img.icon-hand-holding-dollar {
    width: 14px;
}

/* _MENU HEADER */
body.home header nav {
    display: none;
}

/* _MENU BUY-SELL */
body.home header nav ul.buy-sell {
    margin-bottom: 20px;
}

/* _MENU ACCOUNT */
body.home header nav ul li a img.icon-account,
body.home header nav ul li a img.icon-sign-in,
body.home header nav ul li a img.icon-my-purchase {
    width: 15px;
}

/* _MENU BURGER CONTAINER */
body.home header div.burger-menu-container {
    width: 45px;
    margin: 31px auto 22px;
}

body.home header div.burger-menu-container:hover {
    opacity: 0.7;
}

body.home header div a img.icon-burger-menu {
    width: 45px;
    padding: 10px 12px 10px;
    background-color: #1259c3;
    border-radius: 5px;
    margin: auto;
    display: block;
}

/* _BANNER */
body.home header div.banner img.banner-img {
    width: 100%;
    display: block;
}




/* TABLET */
@media (min-width:361px) {

    /* _MENU BURGER CONTAINER*/
    body.home header div.burger-menu-container {
        display: none;
    }

    /* _LOGO */
    body.home header div.logo {
        width: 48%;
        padding: 28px 7% 16px 4%;
    }

    /* _SEARCH INPUT */
    body.home header div form p input.input-search {
        height: 22px;

    }

    /* _MENU HEADER */
    body.home header nav {
        display: inline-block;
        margin: 10px;

    }

    /* _MENU BUY-SELL */
    body.home header nav ul.buy-sell {
        margin-bottom: 0;

    }

}



/* DESKTOP */
@media (min-width:769px) {

    /* _MENU BURGER CONTAINER*/
    body.home header div.burger-menu-container {
        display: none;
    }

    /* _LOGO */
    body.home header div.logo {
        width: 43%;
        padding: 17px 8% 10px 3%;
    }

    /* _SEARCH BAR */
    body.home header div.search {
        padding-left: 2%;
    }

    /* _SEARCH INPUT */
    body.home header div form p input.input-search {
        height: 22px;
        font-size: 14px;
        width: 27%;
        max-width: 255px;

    }

    /* _MENU HEADER */
    body.home header nav {
        display: inline-block;
        margin: 10px;
    }

    /* _MENU BUY-SELL */
    body.home header nav ul.buy-sell {
        margin-bottom: 0;
    }

}