/* CAJAS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TEXTO */
body,
a {
    text-decoration: none;
}

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;

}

/* COLORES */
body {
    background-color: #ebebeb;
}

header,
a {
    color: #667
}

/* LISTAS */
ul,
li {
    list-style: none;
}


@media(min-width:1024px) {
    * {
        font-size: 1.04rem;
    }


    @media(min-width:1440px) {
        * {
            font-size: 1.08rem;
        }

        @media(min-width:2500px) {
            * {
                font-size: 1.2rem;
            }


        }