body.register .__register {
    width: 90%;
    margin: auto;
}


/* _______________________________________________________REGISTER */

body.register .__name input,
body.register .__surname input,
body.register .__email input,
body.register .__psw input,
body.register .reg-fill-born input,
body.register .__address input {
    width: 100%;
    margin: 5% 0 12px;
    padding: 7px 9px;
    border-radius: 5px;
    border: none;
}

/* _ERROR*/
body.register .__error {
    color: red;
    font-size: 14px;
    margin-bottom: 11px;
    margin-left: 5px;
}

/* __PASSWORD */
body.register .__psw input {
    width: 49%;
}


/* _PSW REQUIRED */
body.register .__psw-required {
    font-size: 14px;
    color: lightslategray;
    margin: 0 0 0 3px;
}

body.register .__psw label {
    display: block;
}

body.register .__psw {
    margin: 10% 0;
}




/* _BORN TITLE */
body.register .reg-title-born {
    margin-top: 25px;
}

/* _BORN */
body.register .reg-fill-born {
    margin: -4px 0 -2px;
}

body.register .reg-fill-born input {
    padding: 6px 9px;

}

/* _GENERO TITLE */
body.register .reg-title-genere {
    margin-top: 25px;
}

/* _NEW TERMS TITLE */
body.register .reg-title-news {
    margin-top: 33px;
}

/* _NEWS TERMS */
body.register .reg-inputs-news-terms {
    height: 185px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body.register .reg-inputs-news-terms p label {
    display: inline-block;
    margin-left: 34px;
    margin-top: -19px;
}

/* _ENVIAR BORRAR */
body.register .register-enviarborrar-div {
    display: flex;
    justify-content: space-around;
    margin: 10% 0 14%;
}

body.register .register-seleccionaimg-div {
    margin: 4% 0 4%;
}

body.register .register-seleccionaimg-div input {
    margin: 5% 0 0;
    width: 100%;
}

body.register .reg-inputs-radio {
    margin: 7% 0;
}





@media(min-width:470px) {
    body.register .__register {
        width: 80%;

    }


}



@media(min-width:670px) {
    body.register .__register {
        width: 70%;

    }


}



@media(min-width:1070px) {
    body.register .__register {
        width: 57%;

    }


}


@media(min-width:1470px) {
    body.register .__register {
        width: 50%;

    }


}















